

    <!-- Start home page -->

    <div class="create-c-p">
      <div class="amos-commen-bg">
          <div class="container">
            <!--  <div class="commen-header">
                <div class="left-button"><a href="#"></a></div>
                   <div class="commen-title">
                       <h2 class="title">Create Collaboration Project</h2>
                     </div>
                      <div class="right-button">
                        <a href="#"><img src="/images/icon-button-.png" alt=""></a>
                        <a href="#" class="scond-b"><img src="/images/icon-button-2.png" alt=""></a>
                      </div>
                </div> -->




                <div class="commen-header">
                  <div class="left-button">
                    <div class="commen-b-button">
                       <a href="#"><span></span></a>
                    </div>
                    </div>
                     <div class="commen-title">
                       <h2 class="title">Create Collaboration Project</h2>
                     </div>
                     <div class="right-button">
                    <div class="commen-b-button">
                       <a href="#"><img src="/images/icon-button-.png" alt=""></a>
                    </div>
                    <div class="commen-b-button">
                       <a href="#"><img src="/images/icon-button-2.png" alt=""></a>
                    </div>
                    </div>
                </div>
              <div class="body-scroll-main">
                <!-- <div class="commer-header">
                  <div class="left-button">
                    <div class="commen-b-button">
                       <a href="#">test</a>
                    </div>
                    </div>
                     <div class="commen-title">
                       <h2 class="title">Create Collaboration Project</h2>
                     </div>
                     <div class="right-button">
                    <div class="commen-b-button">
                       <a href="#">test</a>
                    </div>
                    <div class="commen-b-button">
                       <a href="#">test</a>
                    </div>
                    </div>
                </div> -->
                 <div class="inner-border">

                  <div class="commen-body-scroll">
                  <div class="c-cus-form">
                      <div class="cus-form-top">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="inner-box">
                                      <div class="inner-group ftitle">
                                          <label>Title</label>
                                          <span class="f-name">
                      <input type="text" id="collab-title" name="collab-title" value="" class="f-title" aria-required="true" aria-invalid="false" placeholder="Title here">
                    </span>
                                      </div>
                                      <div class="inner-group typegenre">
                                          <label>Type/Genre</label>
                                          <span class="type-genre">

                      <select id="collab-genre" multiple class="serviceul">
                        <option value="Shoot-em-up">Shoot-em-up</option>
                        <option value="Racing">Racing</option>
                        <option value="Platform">Platform</option>
                        <option value="Puzzle">Puzzle</option>
                        <option value="Educational">  Educational</option>
                        <option value="Other">Other </option>
                          <option value="Shoot-em-up">Shoot-em-up</option>
                        <option value="Racing">Racing</option>
                        <option value="Platform">Platform</option>
                        <option value="Puzzle">Puzzle</option>
                        <option value="Educational">  Educational</option>
                        <option value="Other">Other </option>
                      </select>
                    </span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="inner-box">
                                      <div class="inner-group upload_img">
                                          <label>Presentation Image</label>
                                          <figure>
                                              <img src="/images/upload-img.png" alt="">
                                          </figure>
                                          <div class="upload-button commen-button">
                                              <a href="#">UPLOAD IMAGE</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                              <div class="row cus-scroll-bottom">
                                  <div class="col-md-6">
                                      <div class="inner-box">
                                          <div class="inner-group typegenre">
                                              <label>Owner Involvement</label>
                                              <span class="type-genre">

                       <select id="collab-adminType" multiple class="serviceul">
                        <option value="Coder">Coder</option>
                        <option value="GFX">GFX</option>
                        <option value="UI Design">UI Design</option>
                        <option value="PM">PM</option>
                        <option value="Sound/Music">  Sound/Music</option>
                        <option value="Other">Other </option>
                      </select>



                    </span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="inner-box">
                                          <div class="inner-group typegenre">
                                              <label>Seeking Involvement</label>
                                              <span class="type-genre">

                        <select id="collab-collaboratorsRequired" multiple class="serviceul">
                        <option value="Coder">Coder</option>
                        <option value="GFX">GFX</option>
                        <option value="UI Design">UI Design</option>
                        <option value="PM">PM</option>
                        <option value="Sound/Music">  Sound/Music</option>
                        <option value="Other">Other </option>

                      </select>



                    </span>
                                          </div>
                                      </div>
                                  </div>
                          </div>
                      </div>
                      <div class="cus-form-bottom">
                          <div class="add-link">
                              <div class="inner-group flink">
                                  <label>Links</label>
                                  <div class="cut-link-box">
                                      <span class="f-link">
                      <input id="collab-githubLink" type="text" name="" value="" class="f-title" aria-required="true" aria-invalid="false" placeholder="Github/Git/Repo Url">
                    </span>
                                      <span class="f-link">
                      <input id="collab-downloadLink" type="text" name="" value="" class="f-title" aria-required="true" aria-invalid="false" placeholder="Product Download Url">
                    </span>
                                      <span class="f-link">
                      <input id="collab-websiteLink" type="text" name="" value="" class="f-title" aria-required="true" aria-invalid="false" placeholder="Promo Website">
                    </span>
                                  </div>
                              </div>
                          </div>
                          <div class="dec-b">
                              <div class="inner-group fdec">
                                  <label>Description</label>
                                  <span class="comment">
                                    <textarea id="collab-description" name="comment" class="textarea" aria-invalid="false" placeholder="Description here"></textarea>
                                  </span>

                              </div>
                              <div class="commen-button">
                                  <a id="submit">Submit Collab Project</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="commen-bottom-button">
                     <div class="right-button">
                    <div class="commen-b-button">
                       <a href="#"><!-- <img src="/images/icon-button-.png" alt=""> --><i class="fas fa-angle-left"></i></a>
                    </div>
                    <div class="commen-b-button">
                       <a href="#"><!-- <img src="/images/icon-button-2.png" alt=""> --><i class="fas fa-angle-right"></i></a>
                    </div>
                    <div class="commen-b-button">
                       <a href="#"><!-- <img src="/images/icon-button-2.png" alt=""> --><i class="fas fa-signal"></i></a>
                    </div>
                    </div>
                </div>
        </div>
    </div>
  </div>

    <!-- End home page -->
<script>
$( document ).ready(function() {
  $("#submit").click( function(){
    submitCollab( <%-req.session.userId%> );
  });
});

  function submitCollab(userId){
    var request = $.ajax({
      method: "POST",
      url: "/collaboration",
      data: {
          title: $("#collab-title").val(),
          status: "Planning",
          image: "game-img1.png",
          genre: $("#collab-genre").val(),
          adminType: $("#collab-adminType").val(),
          collaboratorsRequired: $("#collab-collaboratorsRequired").val(),
          githubLink: $("#collab-githubLink").val(),
          downloadLink: $("#collab-downloadLink").val(),
          websiteLink: $("#collab-websiteLink").val(),
          description: $("#collab-description").val(),
          admin: userId
      },
      dataType: "json"
    });

    request.done(function( collab ) {
      alert("posted the new collab!");
    });

    request.fail(function (jqXHR, textStatus) {
          alert("new collab post failed! " + textStatus);
    });
  }

</script>
